@font-face {
    font-family: "VikingFont";
    src: url('C:\Users\hayde\DevMountain\Labs\Week3 Labs\html-css-1-lab');
}

.header {
    padding:60px;
    background-color: #2E2836;
}

.mainTitle {
    color: #B93535;
    -webkit-text-stroke: #4cece4;
    stroke-width: 50px;
    font-family: 'VikingFont', fantasy;
    position: absolute;
    top: -33px; left: 60px;
    font-size: 80px;
}

.searchBar {
    position: absolute;
    top: 50px; right: 550px;
    padding: 7px;
    width: 400px;
    background-color: #a7a7a7;
}

.login {
    float: right;
    position: absolute;
    top: 50px; right: 60px;
    color: #FFFFFF;
    background-color: #714427;
    padding: 10px;
    font-family: fantasy;
}

.settings {
    float: right;
    position: absolute;
    top: 50px; right: 150px;
    color: #FFFFFF;
    background-color: #714427;
    padding: 10px;
    font-family: fantasy;
}

body {
    background-color: #E1AA7D;
}

.page {
    float: right;
    width: 50%;
    background-color:#BE8A60;
    border:3px #2E2836;
    padding: 10px;
    text-align: center;
    font-family: consolas;
}

.listTitle {
    padding: 1px;
    border: 1px;
    content: 1px;
    font-size: 45px;
    font-family: fantasy;

}

img {
    max-width: 40%;
    max-height: 40%;
    border-radius: 3%;
    border: 10px solid #714427;
}

.learn {
    color: #FFFFFF;
    background-color: #714427;
    padding: 10px;
    font-family: consolas;
}

